<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0}">
  <div class="row">
    <div width=20%>
      <div class="col-lg-6">
        <b>{{title}}</b>
      </div>
      <div class="col-lg-6 text-right">
        <i>{{created_at | date: 'short'}}</i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      {{content}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-success" (click)="onLove()">Love it!</button>
      <button class="btn btn-danger" (click)="onNotLove()">Don't love it!</button>
    </div>
  </div>
</li>